<div class="main-content" #customLoadingTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="formaOperarios" (ngSubmit)="buscarServicios()" autocomplete="off">
                    <div class="form-row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <mat-form-field color="accent" appearance="fill">
                                <mat-label>Fecha inicio</mat-label>
                                <input matInput formControlName="fecha" [matDatepicker]="picker1">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <small *ngIf="fecha.invalid  && fecha.touched" class="text-danger animated fadeIn">Campo requerido</small>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field appearance="fill">
                                <mat-label>Operario</mat-label>
                                <mat-select formControlName="idoperario">
                                    <mat-option *ngFor="let operario of listaOperarios" [value]="operario.idoperario">
                                        {{operario.nombre}}
                                    </mat-option>
                                </mat-select>
                                <small *ngIf="idoperario.invalid  && idoperario.touched" class="text-danger animated fadeIn">Campo requerido</small>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="btn btn-info btn-round" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table-responsive table-sm table-bordered" *ngIf="serviciosBusqueda?.length > 0">
                <thead style="background-color: #00bcd4">
                    <th>
                        #
                    </th>
                    <th>
                        Servicio
                    </th>
                    <th>
                        Fecha registro
                    </th>
                    <th>
                        Tipo vehiculo
                    </th>
                    <th>
                        Placa
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        $ servicio
                    </th>
                    <th>
                        $ ganancia operario
                    </th>
                    <th>
                        Operario
                    </th>
                    <th>
                        Observaciones
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of serviciosBusqueda; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{registro.nombreservicio}}
                        </td>
                        <td>
                            {{registro.fecha | date: 'yyyy-MM-dd'}}
                        </td>
                        <td>
                            {{registro.nombrevehiculo}}
                        </td>
                        <td>
                            {{registro.placa}}
                        </td>
                        <td>
                            {{registro.nombremarca}}
                        </td>
                        <td>
                            {{registro.valorservicetotal | currency: '$'}}
                        </td>
                        <td style="color: #4caf50">
                            {{registro.valorporcentajeoperario | currency: '$'}}
                        </td>
                        <td>
                            {{registro.nombreoperario}}
                        </td>

                        <td>
                            {{registro.observaciones}}
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="row col-12" *ngIf="bandera">
                <div class=" col-md-12 alert alert-secondary text-center" *ngIf="serviciosBusqueda?.length === 0">
                    <h5 class="alert-heading">No se encontraron registros.</h5>
                    <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                    </p>
                </div>
            </div>
            <table class="table-responsive table-sm table-bordered" *ngIf="listaSuministroLavador?.length > 0">
                <thead style="background-color: #00bcd4">
                    <th>
                        #
                    </th>
                    <th>
                        Fecha registro
                    </th>
                    <th>
                        Suministro
                    </th>
                    <th>
                        $ valor
                    </th>
                    <th>
                        Operario
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let suministro of listaSuministroLavador; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{suministro.fecha | date: 'yyyy-MM-dd'}}
                        </td>
                        <td>
                            {{suministro.nombre}}
                        </td>
                        <td>
                            {{suministro.valor | currency: '$'}}
                        </td>
                        <td>
                            {{suministro.operario}}
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="row col-lg-12" *ngIf="bandera">
                <div class=" col-md-12 alert alert-secondary text-center" *ngIf="listaSuministroLavador?.length === 0">
                    <h5 class="alert-heading">No se encontraron registros.</h5>
                    <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                    </p>
                </div>
            </div>
            <div class="row col-12" *ngIf="serviciosBusqueda?.length > 0 || listaSuministroLavador?.length > 0">
                <div class="col-md-12 text-right">
                    <strong>Total servicios: {{valorTotalFinalizados | currency: '$'}}</strong>
                </div>
            </div>
            <div class="row col-12" *ngIf="serviciosBusqueda?.length > 0 || listaSuministroLavador?.length > 0">
                <div class="col-md-12 text-right">
                    <strong>Total suministros: {{valorSuministros | currency: '$'}}</strong>
                </div>
            </div>
            <div class="row col-12" *ngIf="serviciosBusqueda?.length > 0 || listaSuministroLavador?.length > 0">
                <div class="col-md-12 text-right">
                    <strong>Total ganancia: {{totalGanacia | currency: '$'}}</strong>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>