<div class="main-content" #customLoadingTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Tipo servicios</h4>
                        <p class="card-category">Lista de tipo servicios registrados</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Precio
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Editar
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let servicio of listaServicios; let i = index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            {{servicio.nombreservicio}}
                                        </td>
                                        <td>
                                            {{servicio.valor |currency: '$'}}
                                        </td>
                                        <td>
                                            <mat-slide-toggle *ngIf="servicio.estado" [checked]="servicio.estado" color="primary" (click)="cambiarEstado(servicio)"></mat-slide-toggle>
                                            <mat-slide-toggle *ngIf="!servicio.estado" [checked]="servicio.estado" color="primary" (click)="cambiarEstado(servicio)"></mat-slide-toggle>
                                        </td>
                                        <td>
                                            <i class="material-icons" style="cursor: pointer;" (click)="editarServicio(servicio)">edit</i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title"> Tipo Servicios</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-category">Crear y editar servicios</p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-category text-right" style="cursor: pointer;" (click)="crearFormularioServicio('')">Crear servicio</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formaServicios" (ngSubmit)="crearEditarServicio()">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="nombreservicio" placeholder="Nombre servicio" type="text">
                                        <small *ngIf="nombreServicio.errors?.minlength" class="text-danger animated fadeIn">Mínimo 5 carácteres</small>
                                        <small *ngIf="nombreServicio.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50 carácteres</small>
                                        <small *ngIf="nombreServicio.invalid  && nombreServicio.touched && !nombreServicio.errors?.minlength && !nombreServicio.errors?.maxlength" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input currencyMask [options]="{ precision : 0, align: 'left'}" matInput formControlName="valor" placeholder="Precio" type="text">
                                        <small *ngIf="valor.errors?.minlength" class="text-danger animated fadeIn">Mínimo 5 carácteres</small>
                                        <small *ngIf="valor.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50 carácteres</small>
                                        <small *ngIf="valor.invalid  && valor.touched && !valor.errors?.minlength && !valor.errors?.maxlength" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-slide-toggle formControlName="estado" color="primary">Estado</mat-slide-toggle>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button *ngIf="estadoBoton" class="btn btn-info btn-round" type="submit">Registrar servicio</button>
                                    <button *ngIf="!estadoBoton" class="btn btn-info btn-round" type="submit">Actualizar servicio</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>