<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="assets/img/logo.png" />
        </div>
        Autolavado El tifon
    </a>
</div>
<div class="sidebar-wrapper">
    <!--<div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">dashboard</i>
                    <p>
                        <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                    <a class="dropdown-item" href="#">Another Notification</a>
                    <a class="dropdown-item" href="#">Another One</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>-->
    <ul [ngClass]="idrol === 1 ? 'nav' : 'nav'">
        <!--<li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>-->
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/inicio">
                <i class="material-icons">home</i>
                <p>Inicio</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
                <i class="material-icons">dashboard</i>
                <p>Registro de lavados</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/registrar-servicio">
                <i class="material-icons">border_color</i>
                <p>Registrar servicio</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/registrosuministro">
                <i class="material-icons">battery_std</i>
                <p>Venta suministro</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/registrosdia">
                <i class="material-icons">wb_sunny</i>
                <p>Registros dia</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/liquidarlavador">
                <i class="material-icons">euro_symbol</i>
                <p>Liquidar lavador</p>
            </a>
        </li>
        <li *ngIf="idrol === 1" routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/user-profile">
                <i class="material-icons">person</i>
                <p>Usuarios</p>
            </a>
        </li>
        <li *ngIf="idrol === 1" routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/servicios">
                <i class="material-icons">room_service</i>
                <p>Tipo servicios</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/vehiculos">
                <i class="material-icons">directions_car</i>
                <p>Tipo vehiculos</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/marcas">
                <i class="material-icons">bookmark</i>
                <p>Marcas vehiculos</p>
            </a>
        </li>
        <li *ngIf="idrol === 1" routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/operarios">
                <i class="material-icons">person_pin</i>
                <p>Operarios</p>
            </a>
        </li>
        <li *ngIf="idrol === 1" routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/suministros">
                <i class="material-icons">bookmark</i>
                <p>Suministros</p>
            </a>
        </li>
        <li routerLinkActive="active" [ngClass]="idrol === 1 ? 'nav-item' : 'active-pro nav-item'">
            <a class="nav-link" routerLink="demoPages/login">
                <i class="material-icons">power_settings_new</i>
                <p>Cerrar sesión</p>
            </a>
        </li>
    </ul>
</div>