<div class="main-content" #customLoadingTemplate>
    <div class="container-fluid">
        <form [formGroup]="formaFechas" (ngSubmit)="buscarR()">
            <div class="form-row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Fecha inicio</mat-label>
                        <input matInput formControlName="fechaInicial" [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <small *ngIf="fechaInicial.invalid  && fechaInicial.touched" class="text-danger animated fadeIn">Campo requerido</small>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Fecha final</mat-label>
                        <input matInput formControlName="fechaFinal" [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        <small *ngIf="fechaFinal.invalid  && fechaFinal.touched" class="text-danger animated fadeIn">Campo requerido</small>
                    </mat-form-field>
                </div>
                <div class="col-md-4 text-center">
                    <button class="btn btn-info btn-round" type="submit">Buscar registros</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="far fa-check-square" style="cursor: pointer;" (click)="openModalFinalizados(templateFinalizados, 'F')"></i>
                        </div>
                        <p class="card-category">FINALIZADOS</p>
                        <h3 class="card-title">{{this.totalFinalizados}}
                            <small>UNDS</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="far fa-check-square fa-2x" style="color: #4caf50;"></i>
                            <span class="ml-2"><strong>FINALIZADOS</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <!--<i class="material-icons">content_copy</i>-->
                            <i class="fas fa-car-side" style="cursor: pointer;" (click)="openModalFinalizados(templateFinalizados, 'P')"></i>
                        </div>
                        <p class="card-category">EN PROCESO</p>
                        <h3 class="card-title">{{this.totalEnProceso}}
                            <small>UNDS</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: orange;"></i>
                            <span class="ml-2"><strong>LAVANDO</strong> </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="far fa-times-circle" (click)="openModalFinalizados(templateFinalizados, 'C')"></i>
                        </div>
                        <p class="card-category">CANCELADOS</p>
                        <h3 class="card-title">{{this.totalCancelados}}
                            <small>UNDS</small>
                        </h3>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="far fa-times-circle fa-2x" style="color: #f44336;"></i>
                            <span class="ml-2"><strong>CANCELADOS</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="far fa-check-square"></i>
                        </div>
                        <h4 class="card-title">Valor venta: {{this.totales?.totalVenta |currency: '$'}}</h4>
                        <a class="card-title" style="font-size: 18px;">+/- Valor:</a>
                        <a class="card-title text-success" style="font-size: 18px;">{{ this.totales?.totalMas | currency: '$'}} - </a>
                        <a class="card-title text-danger" style="font-size: 18px;">{{ this.totales?.totalMenos | currency: '$'}} </a>

                        <h4 class="card-title">Suministros vendidos: {{this.totales?.totalSuministros | currency: '$'}} </h4>
                        <h4 class="card-title text-success">Total producido: {{this.totales?.totalProducido | currency: '$'}} </h4>
                        <h4 class="card-title">Total operarios: {{this.totales?.totalOperarios | currency: '$'}} </h4>
                        <h2 class="text-info">Gran total: {{this.totales?.totalGanaciaAutolavado | currency: '$'}} </h2>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="far fa-check-square fa-2x" style="color: #4caf50;"></i>
                            <span class="ml-2"><strong> {{this.totalFinalizados}} FINALIZADOS</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Servicios</h4>
                        <p class="card-category">Servicios realizados</p>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-striped">
                                <thead class="text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Servicio
                                    </th>
                                    <th>
                                        Fecha registro
                                    </th>
                                    <th>
                                        Tipo vehiculo
                                    </th>
                                    <th>
                                        Placa
                                    </th>
                                    <th>
                                        Teléfono
                                    </th>
                                    <th>
                                        Marca
                                    </th>
                                    <th>
                                        Operario
                                    </th>
                                    <th>
                                        Valor servicio
                                    </th>
                                    <th>
                                        Observaciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let registro of totalserviciosDia; let i = index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td class="text-warning" style="cursor: pointer;" (click)="openModalCambiarEstado(templateCambiarEstado, registro)">
                                            {{registro.estadoservicio}}
                                        </td>
                                        <td>
                                            {{registro.nombreservicio}}
                                        </td>
                                        <td>
                                            {{registro.fecha | date: 'yyyy-MM-dd'}}
                                        </td>
                                        <td>
                                            {{registro.nombrevehiculo}}
                                        </td>
                                        <td>
                                            {{registro.placa}}
                                        </td>
                                        <td>
                                            {{registro.telefono}}
                                            <i *ngIf="registro.telefono" class="fab fa-whatsapp-square wapp"> <a href="https://api.whatsapp.com/send?phone=57{{registro.telefono}}&text={{mensaje}}{{mensaje1}}" target="_blank"></a></i>
                                        </td>
                                        <td>
                                            {{registro.nombremarca}}
                                        </td>
                                        <td>
                                            {{registro.nombreoperario}}
                                        </td>
                                        <td>
                                            {{registro.valorservicetotal | currency: '$'}}
                                        </td>
                                        <td>
                                            {{registro.observaciones}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="row-md-12">
                            <div class="alert alert-secondary text-center" *ngIf="totalserviciosDia?.length === 0">
                                <h5 class="alert-heading">No se encontraron registros.</h5>
                                <p>
                                    <i class="fa fa-exclamation fa-2x"></i>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
<ng-template #templateCambiarEstado>

    <div class="modal-header">
        <h3 class="modal-title">Cerrar servicio</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <form [formGroup]="formaEstado" (ngSubmit)="actualizarEstado()">
            <div class="form-row">
                <div class="col-md-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="idestado">
                            <mat-option *ngFor="let estado of listaEstados" [value]="estado.idestado">
                                {{estado.estadoservicio}}
                            </mat-option>
                        </mat-select>
                        <small *ngIf="idestado.invalid  && idestado.touched" class="text-danger animated fadeIn">Campo requerido</small>
                    </mat-form-field>
                </div>
                <div class="col-md-7">
                    <mat-form-field appearance="fill">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="observaciones"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-info btn-round" type="submit">Atualizar estado</button>
                </div>
            </div>
        </form>

    </div>
</ng-template>


<ng-template #templateFinalizados>

    <div class="modal-header">
        <h3 class="modal-title">Lista {{tituloModal}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-sm">
                <thead class="text-primary" [ngStyle]="{'background-color': style1 ? '#4caf50' : (style2 ? 'orange' : '#ef5350') }">
                    <th>
                        #
                    </th>
                    <th>
                        Servicio
                    </th>
                    <th>
                        Fecha registro
                    </th>
                    <th>
                        Tipo vehiculo
                    </th>
                    <th>
                        Placa
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        $ servicio
                    </th>
                    <th>
                        Operario
                    </th>
                    <th>
                        Observaciones
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of serviciosBusqueda; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{registro.nombreservicio}}
                        </td>
                        <td>
                            {{registro.fecha | date: 'yyyy-MM-dd'}}
                        </td>
                        <td>
                            {{registro.nombrevehiculo}}
                        </td>
                        <td>
                            {{registro.placa}}
                        </td>
                        <td>
                            {{registro.nombremarca}}
                        </td>
                        <td>
                            {{registro.valorservicetotal | currency: '$'}}
                        </td>
                        <td>
                            {{registro.nombreoperario}}
                        </td>

                        <td>
                            {{registro.observaciones}}
                        </td>
                    </tr>

                </tbody>
            </table>
            <div *ngIf="tituloModal ==='finalizados'" class="row col-12">
                <div class="col-md-12 text-right">
                    <strong>Total gananacia: {{valorTotalFinalizados | currency: '$'}}</strong>
                </div>
            </div>
            <div class="row col-12">
                <div class="alert alert-secondary text-center" *ngIf="serviciosBusqueda?.length === 0">
                    <h5 class="alert-heading">No se encontraron registros.</h5>
                    <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>