<div class="main-content" #customLoadingTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Registro de lavado</h4>
                        <p class="card-category">Registrar lavado</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formaServicios" (ngSubmit)="crearEditarService()" autocomplete="off">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <ngx-select-dropdown [multiple]="false" formControlName="placaB" [config]="config" [options]="listaPlacas" (change)="changeValue($event)"></ngx-select-dropdown>
                                    <p class="mt-1 mb-1">Placa seleccionada: {{placaBusqueda}} </p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Placa vehiculo</mat-label>
                                        <input [ngModel]="placaBusqueda" matInput formControlName="placa" placeholder="Placa vehiculo" type="text">
                                        <small *ngIf="placa.errors?.minlength" class="text-danger animated fadeIn">Mínimo 5 carácteres</small>
                                        <small *ngIf="placa.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50 carácteres</small>
                                        <small *ngIf="placa.invalid  && placa.touched && !placa.errors?.minlength && !placa.errors?.maxlength" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Nombre Cliente</mat-label>
                                        <input [ngModel]="nombreClienteBusqueda" matInput formControlName="nombrecliente" placeholder="Nombre Cliente" type="text">
                                        <small *ngIf="nombrecliente.errors?.minlength" class="text-danger animated fadeIn">Mínimo 3 carácteres</small>
                                        <small *ngIf="nombrecliente.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50 carácteres</small>
                                        <small *ngIf="nombrecliente.invalid  && nombrecliente.touched && !nombrecliente.errors?.minlength && !nombrecliente.errors?.maxlength" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Teléfono</mat-label>
                                        <input [ngModel]="telefonoBusqueda" matInput formControlName="telefono" placeholder="Teléfono" type="text">
                                        <small *ngIf="telefono.invalid  && telefono.touched" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Tipo vehiculo</mat-label>
                                        <mat-select formControlName="idtipovehiculo">
                                            <mat-option *ngFor="let vehiculo of listaVehiculos" [value]="vehiculo.idtipovehiculo">
                                                {{vehiculo.nombrevehiculo}}
                                            </mat-option>
                                        </mat-select>
                                        <small *ngIf="idtipovehiculo.invalid  && idtipovehiculo.touched" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Tipo servicio</mat-label>
                                        <mat-select formControlName="idtiposervicio" (selectionChange)="changeService($event)">
                                            <mat-option *ngFor="let servicio of listaServicios" [value]="servicio.idtiposervicio">
                                                {{servicio.nombreservicio}} - <strong>{{servicio.valor | currency: '$'}}</strong>
                                            </mat-option>
                                        </mat-select>
                                        <small *ngIf="idtiposervicio.invalid  && idtiposervicio.touched" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                    <p class="ml-2">Valor servicio: <strong>{{valorServicio?.valor | currency: '$'}}</strong> </p>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Marca vehiculo</mat-label>
                                        <mat-select formControlName="idmarca">
                                            <mat-option *ngFor="let marca of listaMarcas" [value]="marca.idmarca">
                                                {{marca.nombremarca}}
                                            </mat-option>
                                        </mat-select>
                                        <small *ngIf="idmarca.invalid  && idmarca.touched" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Color vehiculo</mat-label>
                                        <input matInput formControlName="color" placeholder="Color vehiculo" type="text">
                                        <small *ngIf="color.errors?.minlength" class="text-danger animated fadeIn">Mínimo 3 carácteres</small>
                                        <small *ngIf="color.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50 carácteres</small>
                                        <small *ngIf="color.invalid  && color.touched && !color.errors?.minlength && !color.errors?.maxlength" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Operario</mat-label>
                                        <mat-select formControlName="idoperario">
                                            <mat-option *ngFor="let operario of listaOperarios" [value]="operario.idoperario">
                                                {{operario.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <small *ngIf="idoperario.invalid  && idoperario.touched" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-label>Aumento/Descuento: </mat-label>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-radio-group formControlName="masomenos" required>
                                                <mat-radio-button (click)="habilitarCampo('1')" value="mas">Aumento</mat-radio-button>
                                                <mat-radio-button class="ml-2" (click)="habilitarCampo('2')" value="menos">Descuento</mat-radio-button>
                                                <mat-radio-button class="ml-2" (click)="habilitarCampo('3')" value="na" [checked]="true">No Aplica</mat-radio-button>
                                            </mat-radio-group>
                                            <small *ngIf="masomenos.invalid  && masomenos.touched" class="text-danger animated fadeIn">Campo requerido</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="hidden">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Valor</mat-label>
                                        <input currencyMask [options]="{ precision : 0, align: 'left'}" matInput formControlName="valormasomenos" placeholder="valor" type="text">
                                        <small *ngIf="valormasomenos.invalid  && valormasomenos.touched" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Observaciones</mat-label>
                                        <textarea matInput formControlName="observaciones"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-info btn-round" type="submit">Crear registro</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</div>