.notificationVerde {
    margin: 6px;
    background: #4caf50;
    color: #FFFFFF;
    min-width: 20px;
    padding: 2px 8px;
    height: 20px;
    border-radius: 12px;
    text-align: center;
    line-height: 19px;
}

.notificationAzul {
    margin: 6px;
    background: #fd7e14;
    color: #FFFFFF;
    min-width: 20px;
    padding: 2px 8px;
    height: 20px;
    border-radius: 12px;
    text-align: center;
    line-height: 19px;
}

.notificationRojo {
    margin: 6px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    padding: 2px 8px;
    height: 20px;
    border-radius: 12px;
    text-align: center;
    line-height: 19px;
}

.fontIcon {
    font-size: 24px;
}

.cursor {
    cursor: pointer;
}

.wapp {
    color: #25d366;
    font-size: 23px;
    cursor: pointer;
}