<div class="main-content" #customLoadingTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card bg-success cursor">
                    <div class="card-body" routerLink="/registrar-servicio">
                        <i class="col-lg-12 fas fa-align-justify text-center fontIcon"></i>
                        <h5 class="card-title text-center">Entradas</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card bg-info cursor">
                    <div class="card-body" routerLink="/registrosuministro">
                        <i class="col-lg-12 fas fa-align-justify text-center fontIcon"></i>
                        <h5 class="card-title text-center">Suministros</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let registro of servicioOperarios; let i = index">
                <div class="card bg-light text-dark cursor">
                    <div class="card-body">
                        <i class="col-lg-12 fas fa-user-alt text-center fontIcon"></i>
                        <h5 class="card-title text-center text-dark">{{registro.operario}}</h5>
                        <div class="col-lg-12 text-center">
                            <span class="notificationVerde" (click)="openModalFinalizados(templateFinalizados, 'F', registro.idoperario)">{{registro.finalizado}}</span>
                            <span class="notificationAzul" (click)="openModalFinalizados(templateFinalizados, 'P', registro.idoperario)">{{registro.proceso}}</span>
                            <span class="notificationRojo" (click)="openModalFinalizados(templateFinalizados, 'C', registro.idoperario)">{{registro.cancelado}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    </div>
    <div class="row" *ngIf="totalserviciosDia.length > 0">
        <div class="col-md-12">
            <div class="grey-bg container-fluid">
                <section id="minimal-statistics">
                    <div class="row">
                        <div class="col-12 mt-3 mb-1">
                            <h4 class="text-uppercase">Servicios en proceso</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12" *ngFor="let registro of totalserviciosDia; let i = index">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i *ngIf="registro.nombrevehiculo ==='MOTO'" class="fas fa-motorcycle fa-3x"></i>
                                                <i *ngIf="registro.nombrevehiculo ==='AUTOMOVIL'" class="fas fa-car-side fa-3x"></i>
                                                <i *ngIf="registro.nombrevehiculo ==='TAXI'" class="fas fa-taxi fa-3x"></i>
                                                <i *ngIf="registro.nombrevehiculo ==='CAMION'" class="fas fa-truck fa-3x"></i>
                                                <i *ngIf="registro.nombrevehiculo ==='CAMIONETA'" class="fas fa-truck-monster fa-3x"></i>
                                                <i *ngIf="registro.nombrevehiculo ==='BICICLETA'" class="fas fa-biking fa-3x"></i>
                                                <i *ngIf="registro.nombrevehiculo ==='BUS'" class="fas fa-bus-alt fa-3x"></i>
                                                <i *ngIf="registro.nombrevehiculo ==='DOBLETROQUE'" class="fas fa-truck-moving fa-3x"></i>
                                                <i *ngIf="registro.nombrevehiculo ==='MOTOTAXI'" class="fas fa-caravanfa-3x"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h3 class="text-uppercase">{{registro.placa}}</h3>
                                                <p class="text-uppercase" style="font-size: 14px;">{{registro.nombrecliente}}</p>
                                                <p>{{registro.telefono}}
                                                    <a class="fab fa-whatsapp-square wapp" style="vertical-align: bottom;" href="https://api.whatsapp.com/send?phone=57{{registro.telefono}}&text={{mensaje}}{{mensaje1}}" target="_blank"></a>
                                                </p>
                                                <h6>{{registro.nombrevehiculo}}</h6>
                                                <span class="badge badge-primary" style="font: inherit;font-size: 13px; padding: 3px; cursor: pointer;" (click)="openModalCambiarOperario(templateOperarios, registro)">Cambiar operario</span>
                                                <span class="badge badge-warning mt-1" style="font: inherit; width: 107px;font-size: 13px; padding: 3px;cursor: pointer;" (click)="openModalCambiarEstado(templateCambiarEstado, registro)">
                                                    Cerrar servicio
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<ng-template #templateOperarios>

    <div class="modal-header">
        <h3 class="modal-title">Cambiar operario</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formaOperarios" (ngSubmit)="actualizarOperario()" autocomplete="off">
            <div class="form-row">
                <div class="col-md-8">
                    <mat-form-field appearance="fill">
                        <mat-label>Operario</mat-label>
                        <mat-select formControlName="idoperario">
                            <mat-option *ngFor="let operario of listaOperarios" [value]="operario.idoperario">
                                {{operario.nombre}}
                            </mat-option>
                        </mat-select>
                        <small *ngIf="idoperario.invalid  && idoperario.touched" class="text-danger animated fadeIn">Campo requerido</small>
                    </mat-form-field>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-info btn-round" type="submit">Cambiar operario</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #templateCambiarEstado>

    <div class="modal-header">
        <h3 class="modal-title">Cerrar servicio</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <form [formGroup]="formaEstado" (ngSubmit)="actualizarEstado()">
            <div class="form-row">
                <div class="col-md-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="idestado">
                            <mat-option *ngFor="let estado of listaEstados" [value]="estado.idestado">
                                {{estado.estadoservicio}}
                            </mat-option>
                        </mat-select>
                        <small *ngIf="idestado.invalid  && idestado.touched" class="text-danger animated fadeIn">Campo requerido</small>
                    </mat-form-field>
                </div>
                <div class="col-md-7">
                    <mat-form-field appearance="fill">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="observaciones"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-info btn-round" type="submit">Atualizar estado</button>
                </div>
            </div>
        </form>

    </div>
</ng-template>
<ng-template #templateFinalizados>

    <div class="modal-header">
        <h3 class="modal-title">Lista {{tituloModal}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-sm">
                <thead class="text-primary" [ngStyle]="{'background-color': style1 ? '#4caf50' : (style2 ? 'orange' : '#ef5350') }">
                    <th>
                        #
                    </th>
                    <th>
                        Servicio
                    </th>
                    <th>
                        Fecha registro
                    </th>
                    <th>
                        Tipo vehiculo
                    </th>
                    <th>
                        Placa
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        $ servicio
                    </th>
                    <th>
                        Operario
                    </th>
                    <th>
                        Observaciones
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of serviciosBusqueda; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{registro.nombreservicio}}
                        </td>
                        <td>
                            {{registro.fecha | date: 'yyyy-MM-dd H:mm:ss'}}
                        </td>
                        <td>
                            {{registro.nombrevehiculo}}
                        </td>
                        <td>
                            {{registro.placa}}
                        </td>
                        <td>
                            {{registro.nombremarca}}
                        </td>
                        <td>
                            {{registro.valorservicetotal | currency: '$'}}
                        </td>
                        <td>
                            {{registro.nombreoperario}}
                        </td>

                        <td>
                            {{registro.observaciones}}
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="row col-12">
                <div class="col-md-12 alert alert-secondary text-center" *ngIf="serviciosBusqueda?.length === 0">
                    <h5 class="alert-heading">No se encontraron registros.</h5>
                    <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>