<div class="main-content" #customLoadingTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Usuarios</h4>
                        <p class="card-category">Lista de usuarios registrados</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        Rol
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Editar
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usuario of listaUsuarios; let i = index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            {{usuario.nombre}}
                                        </td>
                                        <td>
                                            {{usuario.usuario}}
                                        </td>
                                        <td>
                                            {{usuario.nombrerol}}
                                        </td>
                                        <td>
                                            <mat-slide-toggle *ngIf="usuario.estado" [checked]="usuario.estado" color="primary" (click)="cambiarEstado(usuario)"></mat-slide-toggle>
                                            <mat-slide-toggle *ngIf="!usuario.estado" [checked]="usuario.estado" color="primary" (click)="cambiarEstado(usuario)"></mat-slide-toggle>
                                        </td>
                                        <td>
                                            <i class="material-icons" style="cursor: pointer;" (click)="editarUsario(usuario)">edit</i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Usuarios</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-category">Crear y editar usuarios</p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-category text-right" style="cursor: pointer;" (click)="crearFormularioUsuarios('')">Crear usuario</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formaUsuarios" (ngSubmit)="crearEditarUsuario()">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="nombre" placeholder="Nombre" type="text">
                                        <small *ngIf="nombre.errors?.minlength" class="text-danger animated fadeIn">Mínimo 5 carácteres</small>
                                        <small *ngIf="nombre.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50 carácteres</small>
                                        <small *ngIf="nombre.invalid  && nombre.touched && !nombre.errors?.minlength && !nombre.errors?.maxlength" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="usuario" placeholder="Usuario" type="text">
                                        <small *ngIf="usuario.errors?.minlength" class="text-danger animated fadeIn">Mínimo 3 carácteres</small>
                                        <small *ngIf="usuario.errors?.maxlength" class="text-danger animated fadeIn">Máximo 10 carácteres</small>
                                        <small *ngIf="usuario.invalid  && usuario.touched && !usuario.errors?.minlength && !usuario.errors?.maxlength" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Operario</mat-label>
                                        <mat-select formControlName="rol">
                                            <mat-option *ngFor="let operario of listaRoles" [value]="operario.idrol">
                                                {{operario.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <small *ngIf="rol.invalid  && rol.touched" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="clave" placeholder="Clave" type="password">
                                        <small *ngIf="clave.errors?.minlength" class="text-danger animated fadeIn">Mínimo 3 carácteres</small>
                                        <small *ngIf="clave.errors?.maxlength" class="text-danger animated fadeIn">Máximo 10 carácteres</small>
                                        <small *ngIf="clave.invalid  && clave.touched && !clave.errors?.minlength && !clave.errors?.maxlength" class="text-danger animated fadeIn">Campo requerido</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="clave2" placeholder="Repite clave" type="password">
                                        <small *ngIf="passw2NoValido" class="text-danger">Las claves deben ser iguales.</small>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-slide-toggle formControlName="estado" color="primary">Estado</mat-slide-toggle>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button *ngIf="estadoBoton" class="btn btn-info btn-round" type="submit">Registrar usuario</button>
                                    <button *ngIf="!estadoBoton" class="btn btn-info btn-round" type="submit">Actualizar usuario</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>